/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
*,
*::before,
*::after{
  box-sizing: border-box;
}
html{
  background: white url("../images/bgtile.png") repeat-x;
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 900px;
  margin: 90px auto;
}
main{
  background: transparent url("../images/frame.png") no-repeat;
  padding: 2%;
  /*margin: auto;*/
}

ul{
  list-style: none;
  float: left;
  margin-top: 5%;
}
li{
  display: inline-block;
}
h1{
  color: #06365f;
  width: 70%;
  margin-left: 5%;
}
aside{
  float:left;
  width: 30%;
}
main p{
  margin: 10px 20px;
}

.rside{
  float: right;
  width: 60%;
  padding: 2%;
}
.instalogin{
  display: inline-block;
  width: 100%;
}
.instalogin span{
  width: 30%;
  float: right;
  line-height: 1.5;
}
.instalogin > img{
  width: 50%;
  float: left;
}
.ul{
  width: 100%;
  margin-top: 50px;
}
.an-iphone{
  display: inline-block;
  padding-left: 50px;
}
